.initial-home{
    width: 100%;
    height: 100vh;
    background-image: url('/campoDeFlores.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.initial-content{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#initial-title{
    position: absolute;
    bottom: 0%;
    width: 90%;
    padding-left: 5%;
    padding-bottom: 5%;
}

#initial-title h1{
    font-size: 10vh;
}

#initial-title h3{
    font-size: 2.5vh;
}

#initial-title img{
    position: absolute;
    right: 0%;
    top: 50%;
    height: 56px;
    width: 56px;
}

