
<section class="section2" style="background-image: url('12.png');">
    <div class="overlay"></div>
    <div class="content">
      <h1>NUestro Objetivo</h1>
      <h2>
        Nuestro objetivo es transformar la agricultura a través de soluciones inteligentes que optimicen los procesos productivos, aumenten la eficiencia en el uso de los recursos y promuevan prácticas sostenibles.
      </h2>
      <a class="link" href="#">Ver Más sobre nuestro objetivo →</a>
    </div>
  </section>
  

  <section class="section1" style="background-image: url('13.png') ;"  >
    <div class="overlay"></div>
    <div class="content">
      <h1>¿Cómo Trabajamos?</h1>
      <h2>
        Trabajamos en la integración de tecnologías como sensores IoT, inteligencia artificial, sistemas de monitoreo en tiempo real y análisis de datos para ofrecer herramientas que impulsen una agricultura más moderna, precisa y rentable.
      </h2>
      <a class="link" href="#">Más Sobre nuestra manera de Trabajo →</a>
    </div>
  </section>
  