
.section1 {
  color: white;
  background-image: url('/13.png');
  background-repeat: no-repeat;
  padding: 15%;
  padding-bottom: 150px;
  padding-top: 150px;


}

.section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.content {
  position: relative;
  z-index: 1;
}
.link {
  padding-top: 50px;
  display: inline-block;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}














