<div class="items">
    <div class="column">
      <img src="/LogoClaro.png" alt="Logo claro de magician ground" class="LogoClaro">
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Sobre nosotros</div>
      <a href="#">Quiénes somos</a>
      <a href="#">Nuestros Objetivos</a>
      <a href="#">Nuestra Orientación</a>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Redes Sociales</div>
      <a href="#">Youtube</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Contáctanos</div>
      <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvbGccZzddGRVlCclCwzpvXQRVKnsNsdXbGhSVflVbWgNjsXpzPWGflhClJwMXBKDZmlzp">nuestro gmail</a>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Productos</div>
      <a href="#">x-fastDron</a>
    </div>
  </div>
  
  <div class="footer">Copyright ©By Magician Tech</div>
  