<div class="items">
    <div class="column">
      <div class="icon"></div>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Sobre nosotros</div>
      <a href="#">Quiénes somos</a>
      <a href="#">Nuestros Objetivos</a>
      <a href="#">Nuestra Orientación</a>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Contáctanos</div>
      <a href="#">Youtube</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Contáctanos</div>
      <a href="mailto:emailemailemail@gmail.com">emailemailemailgmail.com</a>
    </div>
  
    <div class="column">
      <div class="SizeAdjust">Productos</div>
      <a href="#">x-fastDron</a>
    </div>
  </div>
  
  <div class="footer">By Magician Tech</div>
  