.icon   {
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}


.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
  }

  .SizeAdjust {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .footer {
    text-align: right;
    margin-right: 40px;
    font-size: 2em;
    color: #FFFFFF;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    .items {
      flex-direction: column;
      align-items: flex-start;
    }
  }