<div class="items">
    <div class="column">
        <div class="icon"></div>
    </div>

    <div class="column">
        <div class="SizeAdjust">Sobre nosotros</div>
        <h2><a href="#">Quienes somos</a></h2>
        <h2><a href="#">Nuestros Objetivos</a></h2>
        <h2><a href="#">Nuestra Orientación</a></h2>
    </div>

    <div class="column">
        <h1 class="SizeAdjust">Contactanos</h1>
        <h1><a href="#">Youtube</a></h1>
        <h1><a href="#">Instagram</a></h1>
        <h1><a href="#">Twitter</a></h1>
        <h1><a href="#">Facebook</a></h1>
    </div>

    <div class="column">
        <div class="SizeAdjust">Contactanos</div>
        <h1><a href="mailto:emailemailmail@gmail.com">emailemailmail2gmail.com</a></h1>
        
    </div>

    <div class="column">
        <div class="SizeAdjust">Productos</div>
        <h1><a href="#">x-fastDron</a></h1>
    </div>
</div>
<div class="footer">By Magician Tech</div>