.home-section-init {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.home-section-init {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-section-init::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/public/campo-de-pulverización-de-tractores-agrícolas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    z-index: 0;
}

.home-title-init {
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left: 2%;
    color: #fff;
}

.home-title-init h1 {
    font-size: 5rem;
}

.home-title-init h3 {
    font-size: 2.5rem;
}


@media (max-width: 800px) {
    .home-title-init {
        position: absolute;
        z-index: 1;
        bottom: 3%;
        left: 1%;
        color: #fff;
    }

    .home-title-init h1 {
        font-size:2.5rem;
    }

    .home-title-init h3 {
        font-size: 1.5rem;
    }


}


.who-we-are{
    padding: 5%;
    display: grid; 
    background-color: #E5E5E5;
    width: 90%;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 10%;
}

.who-we-are h1{
    font-size: 2.5rem;
}

.links-who-we-are{
    margin-top: 5%;
    text-decoration: underline;
}

.who-we-are a{
    font-size: 1.5rem;
    margin-bottom: 5%;
    color: #000;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.flecha-link {
  font-size: 1.2em; /* O el tamaño que quieras */
  transition: transform 0.2s ease;
}

.who-we-are a:hover .flecha-link{
    transform: translateX(10px);
}


.who-we-are p {
    font-size: 2.5rem;
}

@media (max-width : 800px){
    .who-we-are{
        display: block;  
        padding: 5%;
    }

    .who-we-are h1 {
        font-size: 2.5rem;
    }

    .who-we-are a {
        font-size: 1.5rem;
    }

    .who-we-are p {
        margin-bottom: 5%;
    }
}

.our-objetive {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/un_agricultor_en_su_trabajo.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;

    opacity: 0.4;
}