<section class="how-we-are">
  <div id="title">
    <h2 class="title">¿Quiénes somos?</h2>
  </div>

  <div id="description">

    <p class="description">
      Somos una empresa dedicada al desarrollo de innovaciones tecnológicas enfocadas en el sector agrícola.
    </p>
  </div>

  <div class="link-group">
    <a href="#" class="link">
      Conocé nuestro producto más reciente
      <span class="arrow">→</span>
    </a>
  </div>

  <div class="link-group">
    <a href="#" class="link">
      Ver más sobre quiénes somos
      <span class="arrow">→</span>
    </a>

  </div>

</section>


