<section class="how-we-are">
  <div id="title">
    <h2 class="title">¿Quienes somos?</h2>
  </div>



  <div id="description">
    <p class="description">
    Somos una empresa dedicada al desarrollo de
    innovaciones tecnológicas enfocadas en el sector
    agrícola.
    </p>
  </div>
  <div>
    <div class="link-group">
      <a href="#" class="link">
        Conocer nuestro producto más reciente
        <span class="arrow">→</span>
      </a>
    </div>

    <div class="link-group">
      <a href="#" class="link">
        Ver más sobre quienes somos
        <span class="arrow">→</span>
      </a>
    </div>
  </div>

</section>


