<section class="contact-form-section" id="contact-form">
  <div class="div-form-conteiner">
    <h2>Contactanos</h2>
    <form action="https://formsubmit.co/mgpeirone25@gmail.com" method="POST" class="form">
      <input type="text" name="nombre" placeholder="Nombre" required/>
      <input type="text" name="apellido" placeholder="Apellido" required />
      <input type="email" name="email" placeholder="Email" required/>
      <br>
      <textarea name="mensaje" cols="60" rows="10" wrap="hard" placeholder="Dejanos tu mensaje" required></textarea>
      <button type="submit">
        Enviar
      </button>
    </form>
  </div>
</section>
