.contact-form-section{
  height: 80vh;
  width: 65%;
  background-color: black;
  padding-top: 10%;
  padding-left: 16%;
  padding-right: 6%;
  padding-bottom: 2%;
}
.div-form-conteiner{
  width: 100%;
}

.div-form-conteiner h2 {
  margin-bottom: 5%;
}

.form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  gap : 5px
}

.form input{
  height: 45px;
  width: 97%;
  padding: 1%;
  background: none;
  border:none;
  border-bottom: 1px solid rgb(255, 255, 255, 30%);
  color: white;
}

.form input:focus{
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255, 100%);
}

.form input::placeholder {
  color: rgb(255, 255, 255, 30%);
  font-size: 1rem;
  user-select: none;
}


.form textarea{
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 1%;
  color: white;
  margin-top: 5%;
  width: 100%;
  background: none;
  border: none;
  border-left: 1px solid rgb(255, 255, 255, 30%);
  border-bottom: 1px solid rgb(255, 255, 255, 30%);
}


.form textarea:placeholder {
  color: rgb(255, 255, 255, 30%);
}

.form textarea:focus {
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255, 100%);
  border-left: 1px solid rgb(255, 255, 255, 100%);
}


.form button{
  margin-top: 5%;
  background: none;
  border: 1px solid rgb(255, 255, 255, 50%);
  color: rgb(255, 255, 255, 50%);
  height: 100px;
  font-size: 2.5rem;
  user-select: none;
}

.form button:hover{
  background-color: rgb(255 255, 255, 10%);
  color: rgb(255, 255, 255, 50%);
}

@media (max-width : 800px) {
  .contact-form-section{
    padding-bottom: 50%;
  }

  .form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 5px;
    gap : 5px
  }
}


















