<section class="contact-form-section" id="contact-form">
  <div class="div-form-conteiner">
    <h2>Contactanos</h2>
    <form class="form">
      <input type="text" name="nombre" placeholder="Nombre" />
      <input type="text" name="apellido" placeholder="Apellido" />
      <input type="email" name="email" placeholder="Email" />
      <br>
      <textarea name="mensaje" cols="60" rows="10" wrap="hard" placeholder="Dejanos tu mensaje"></textarea>
      <button>
        Enviar
      </button>
    </form>
  </div>
</section>
