<section class="contact-form-section" id="contact-form">
  <div class="div-form-container">
    <h2>Contáctanos</h2>
    <form class="form">
      <input type="text" name="nombre" placeholder="Nombre" />
      <input type="text" name="apellido" placeholder="Apellido" />
      <input type="email" name="email" placeholder="Correo electrónico" />
      <br />
      <textarea
        name="mensaje"
        cols="60"
        rows="10"
        wrap="hard"
        placeholder="Déjanos tu mensaje"
      ></textarea>
      <br />
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
