<header>
    <nav>
        <ul>
            <li class="separador li-1">
                <a href="/">
                    <img src="/LogoFondoOscuro.svg" alt="logo" height="80" width="80">
                </a>
            </li>
            <li>
                <ul>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                    <li><a href="#contact-form">Contactanos</a></li>
                    <li>
                        <app-lenguajes/>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
