<header>
    <nav>
        <ul>
            <li class="separador li-1">
                <div>
                    <img src="" alt="logo">
                </div>
            </li>
            <li class="separador">
                <ul>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Sobre Nosotros</a></li>
                </ul>
            </li>
            <li class="li-3">
                <ul>
                    <li><a href="">Contactanos</a></li>
                    <li>
                        <app-lenguajes/>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
