.section2{
  background-image: url('/12.png');
  background-repeat: no-repeat;
}
h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
p,a {
  line-height: 1.6;
  font-size: 1.4rem;
  
}
.link {
  padding-top: 50px;
  display: inline-block;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.content{
  padding-top: 200px;
  padding-bottom: 120px;
  width: 500px;
  padding-left: 200px;
}