<section class="section2" >
  <div class="overlay"></div>
  <div class="content">
    <h2>Nuestro Objetivo</h2>
    <p>
      Nuestro objetivo es transformar la agricultura a través de soluciones inteligentes que optimicen los procesos productivos, aumenten la eficiencia en el uso de los recursos y promuevan prácticas sostenibles.
    </p>
    <div class="link-group">
      <a href="#" class="link">
        Ver más sobre nuestro objetivo
        <span class="arrow">→</span>
      </a>
    </div>
  </div>
</section>

