.section2{
  background-image: url('/12.png');
  width: 100%;
  height: 70vh;
  background-size:cover;
  background-repeat: no-repeat;
}


.link {
  padding-top: 50px;
  display: inline-block;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.content{
  padding: 15%;
  padding-top: 150px;
  padding-bottom: 94px;

}

@media (max-width : 800px){
  .content{
    padding: 10%;
    padding-top: 100px;
    padding-bottom: 94px;

  }

}



