<div class="container">
  <div class="left">
    <h2 class="title">¿Quienes somos?</h2>

    <div class="link-group">
      <a href="#" class="link">
        Conocer nuestro producto más reciente
        <span class="arrow">→</span>
      </a
    </div>

    <div class="link-group">
      <a href="#" class="link">
        Ver más sobre quienes somos
        <span class="arrow">→</span>
      </a>
    </div>
  </div>

  <div class="right">
    <p class="description">
      Somos una empresa dedicada al desarrollo de<br />
      innovaciones tecnológicas enfocadas en el sector<br />
      agrícola.
    </p>
  </div>
</div>
