

.how-we-are {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2 ,1fr);
  grid-column-gap: 5%;
  background-color: #000;
  color: white;
  padding: 15%;
  padding-bottom: 150px;
  padding-top: 150px;

}

h2 {
  font-size: 2.5rem;
}

a {
  margin-bottom: 5%;
}

#description{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: -1;
}


.link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-bottom: 1px solid white;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.link:hover .arrow {
  transform: translateX(5px);
  transition: transform 0.2s;
}

.arrow {
  font-size: 1.2rem;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width : 800px){

  .how-we-are {
    display: block;
    align-items: center;
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 380px;
  }
  a {
    margin-top: 30px;
  }
}
















